<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ecoach.cosapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Application.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="cosapp.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCHEs3Mv0StwbBkhofBgSWC_scDC3_1mYg" />

        <activity
            android:name=".Activites.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activites.Company.CompaniesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.Company.CompanyDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.CompanyDetailsTabbedActivities.Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.CompanyDetailsTabbedActivities.Map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.CompanyDetailsTabbedActivities.Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.UserAccounts.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.UserAccounts.CreateAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.GalleryImageExplorer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.UserAccounts.ProfileEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.Company.ManangeMyCompanies"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.UserAccounts.ResetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.Company.Addcompany"
            android:screenOrientation="portrait" />

        <service
            android:name=".Http.UploadBase64"
            android:exported="false" />

        <activity
            android:name=".Activites.Company.MyCompanyDetails"
            android:screenOrientation="portrait" />
        <activity android:name=".Activites.Company.MyCompanyDepartments" />
        <activity android:name=".Activites.Company.MyCompanyInformation" />
        <activity android:name=".Activites.MainCategories" />
        <activity android:name=".Activites.MainRecentChats"></activity>
    </application>

</manifest>